libft/
minishell
bultin_test
minishell.o
.minishell_bonus.txt
*.o
.vscode/
.idea/
ignore/
tests/unit/tests
compile_commands.json
.cache/
file.txt
lucas_kuhn_tester
thallard_tester/
chdir_test.c
make_mandatory.sh
tester/